html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #E0F1BB;
}

header {
  background-color: #fa92b1;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 10px;
}

header h1 {
  font-size: 1.5em;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 80px; /* Margin-top pentru a face loc header-ului */
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.flower-info {
  max-width: 800px;
  width: 100%;
  margin-bottom: 20px; /* Spatiu intre text si imagine */
  overflow: hidden; /* Ascundem overflow-ul pentru a preveni afisarea marginii imaginii */
  border-radius: 10px;
  background-color: #FEFFE2;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  overflow-y: auto; /* Facem containerul scrollabil pe verticala */
  max-height: calc(100vh - 200px); /* Calculam inaltimea maxima pentru a fi scrollabil */
}

.flower-image {
  border: none;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px; /* Spatiu intre text si imagine */
}

.flower-info h1 {
  margin-top: 0;
}

.flower-info p {
  margin: 10px 0;
}

.containerF button {
  background-color: #FA92B1;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.containerF button:hover {
  background-color: #F7689D;
}

/* CSS pentru elementele "humidity" și "temperature" */
.low-message {
  color: blue;
}

.high-message {
  color: red;
}

.normal-message {
  color: black;
}

@media (max-width: 768px) {
  .flower-info {
    max-height: none; /* Eliminăm înălțimea maximă pentru a nu mai fi scrollabil pe ecrane mici */
  }
}